.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 97vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(78, 94, 161);
  border-radius: 25px;
}
h1{
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 25px;
}

.numeros {
  background: #ffff;
  height: 45px;
  width: 50px;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border-radius: 40%;
  
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}