   .btn{
    margin-top: 3px;
    margin-bottom: 3px;
    background: rgba(206, 208, 219, 0.801);
    border-radius: 5px;
    border-style: hidden;
    color:rgb(11, 20, 95);
    width: 150px;
    font-size: 20px;
    cursor: pointer;
  }
  .btn:hover{
    background-color: cornflowerblue;
  }

  .btn2{
    margin-top: 3px;
    margin-bottom: 3px;
    background: rgba(255, 255, 255, 0.801);
    border-radius: 5px;
    border-style: hidden;
    color:rgb(11, 20, 95);
    width: 50px;
    font-size: 20px;
    cursor: pointer;
  }
  .btn2:hover{
    background-color: #188038; 
  }

  .App-body{
    background-image: linear-gradient(270deg, #00BFFF, #87CEFA);
    margin-inline-start: 350px;
    margin-inline-end: 350px;
  }
  
  .footer{
    background-image: linear-gradient(270deg, #00BFFF, #87CEFA);
    border-radius: 5px;
    margin-inline-start: 50px;
    margin-inline-end: 50px;
  }